*, *::before, *::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

:root {
    --white: #ffffff;
    --grey: #aaaaaa;
    --black: #000000;
    --darkgrey: #272727;
    --lightdarkgrey: #6c6c6c;
    --red: #ff0000;
    --main: #0070E0;
    --font: #8A94A6;
    --darkfont: #3F4957;
}

html {
    scroll-behavior: smooth;
}


/* Main Page */
body {
    background-color: var(--white);
    color: var(--font);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    line-height: 1.6;
}


/* Loader */
/* .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 100px;
    height: 100px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    animation: loader 2s linear infinite;
    display: block;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
} */

.main-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* display: none; */
    opacity: 0;
    animation: page-appear 1s ease-out forwards;
}

@keyframes page-appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Navbar settings */
.nav-bar {
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    color: var(--font);
    height: 10vh;
    align-items: center;
    padding: 0 20px;
    transform: translateY(-100%);
    animation: nav-move 1s ease-out 1s forwards;
}

@keyframes nav-move {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.nav-bar .ib-title {
    color: var(--main);
}

ul.nav-bar-menu li {
    display: inline;
    float: right;
    padding: 15px;
}

a.ib-title-link {
    text-decoration: none;
}

/* Header settings */
header {
    grid-column: span 3;
    display: flex;
    height: 90vh;
    background-image: url(src/header-bg2.jpeg);
    background-repeat: round;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

header h1 {
    text-align: center;
    background-color: #00000090;
    width: 100%;
    padding: 50px;
    animation: title-move 1s ease-out 1s forwards;
    transform: translateY(-20px);
    opacity: 0;
}

@keyframes title-move {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


/* Description settings */
.feature-detail {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    margin: 20px 0px 20px 0px;
}

.feature {
    padding: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.feature:not(:last-child) {
    border-right: 1px dashed var(--main);
}

.feature h2 {
    color: var(--main);
    padding-bottom: 10px;
}

.ib-details {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 10% auto 10%;
    text-align: center;
    padding: 20px;
    margin: 0px 0px 20px 0px;
}

.ib-details p {
    grid-column: 2/3;
}

.ib-screens {
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.ib-advantages {
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.ib-works {
    grid-column: span 3;
    display: flex;
    background-image: url(src/work.jpeg);
    height: 100vh;
    text-align: center;
    align-items: center;
}
.ib-works h2, .ib-works p {
    background-color: #00000090;
    color: var(--white);
    padding: 20px;
}

/* Clients and images settings */
.ib-clients {
    grid-column: span 3;
    padding: 50px 50px 0px 50px;
    text-align: center;
}

.ib-clients h2 {
    color: var(--main);
}

.ib-clients-icons {
    grid-column: span 3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img-client {
    width: 200px;
    height: 200px;
}

/* Almost footer settings */
footer {
    grid-column: span 3;
    background-color: var(--main);
    color: var(--white);
    display: flex;
    padding: 10px;
}

footer > div {
    padding-right: 10px;
}

/* Links in the nav menu */
a.upper {
    color: var(--font);
    text-decoration: none;
}

a.upper:hover {
    color: var(--main);
    border-bottom: 1px solid var(--main);
    animation: upperlink 1s ease-out forwards;
}

@keyframes upperlink {
    0% {
        color: var(--font);
    }
    100% {
        color: var(--main);
    }
}

/* Link in the footer menu */
a.lower {
    color: var(--font);
    text-decoration: none;
}

a.lower:hover {
    color: var(--white);
    animation: lowerlink 1s ease-out forwards;
}

@keyframes lowerlink {
    0% {
        color: var(--lightdarkgrey);
    }
    100% {
        color: var(--white);

    }
}


/* Information page */
div.legal-menu {
    padding: 50px 50px 50px 30px;
    display: grid;
    grid-column: 1;
}

div.legal-menu ul {
    list-style: none;
}

li.legal-menu {
    border-bottom: 1px solid #00000010;
    padding-block: 10px;
}

a.info-menu {
    color: var(--font);
    text-decoration: none;
}

a.info-menu:hover {
    color: var(--main);
    border-bottom: 1px solid var(--main);
    animation: upperlink 1s ease-out forwards;
}

div.legal-text-block {
    display: grid;
    grid-column: 2/4;
    padding: 50px;
}

#legal-text-2,
#legal-text-3,
#legal-text-4,
#legal-text-5,
#legal-text-6,
#legal-text-7,
#legal-text-8,
#legal-text-9,
#legal-text-10,
#legal-text-11,
#legal-text-12,
#legal-text-13 {
    display: none;
}

/* #legal-text-1:target {
    display: block;
}

#legal-text-2:target {
    display: block;
}

#legal-text-3:target {
    display: block;
}

#legal-text-4:target {
    display: block;
}

#legal-text-5:target {
    display: block;
}

#legal-text-6:target {
    display: block;
}

#legal-text-7:target {
    display: block;
}

#legal-text-8:target {
    display: block;
}

#legal-text-9:target {
    display: block;
}

#legal-text-10:target {
    display: block;
}

#legal-text-11:target {
    display: block;
}

#legal-text-12:target {
    display: block;
}

#legal-text-13:target {
    display: block;
} */

/* Contacts Page */
iframe#map {
    margin: 15px 20px 15px 5px;
    height: 80vh;
    width: 70vw;
    border: 1px solid var(--main);
}

div.contacts {
    padding: 50px 0 0 20px;
    width: 20vw;
}

h4.address {
    color: var(--main);
}